 .contener_cards{
    margin-left: 10px;
    display: flex;
    flex-direction: row;

    
}

.cards-photo > img {
    width: 100%;
    max-width: 200px;
    min-width: 200px;
    height: 130px;
    margin-top: 20px;
}

.cards-text {
    display: flex;
    align-items: center;
    max-width: 350px;
    min-width: 300px;
    overflow: auto;
    max-height: 154px;
}
.cards-text > h1 {
    padding-left: 12px;
    font-size: 15px;

}