<div class="contener__big-img">
    <div class="big-img_photo">
      <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxIHBhUQBxIVFRUTDxcQFxAVDhAWFhUZFxkXGhc
      XFRUYHSggJB0lGxkTLTEjJyorLi4uGB8zODMsNygwLi0BCgoKDg0OFxAQFS0dHx0tKystLS0tLS0rKy0tKy0tLSstKy0rKy0tLS0tLS0tLS0rLS0uLS0rOC0rKzctK
      ystLf/AABEIALIBGwMBIgACEQEDEQH/xAAbAAEAAgMBAQAAAAAAAAAAAAAABQYCAwQBB//EADYQAQABAwEFBAgFBAMAAAAAAAABAgMEEQUSI
      TFRQXGRsRMzUmFygcHhIjSh0fAyQlOyFCM1/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAIDAQT/xAAcEQEBAQEBAAMBAAAAAAAAAAAAAQIRMQMhU
      RL/2gAMAwEAAhEDEQA/APogD0sgAAAAAAAAAAAAAAe0UTcq0txMz0iNXXa2Xcr5xEd8/s5bI7xxiXt7F/y1+EfWTJwbOLa1uzV7o3o1nu4J/
      uO8RAC0gAAAAAAAAAAAAAAAAAAAAAAAAAAMrdE3bkU0c5nQC3bm7Xu241mexL4uyIpjXJnWfZjl4uzCxIxbelPOedXX7OhjrffFzLG3bi3Tp
      biIjpEMgQocudhxl0RrOkxynv6w6gl4KvkY9WNc0ux3T2T3NS037FORb3bsax5e+FdzMWcW7pVy5xPWG2ddRZxoAWkAAAAAAAAAAAAAAAAAA
      AAAAAASewrW9cqqnsiIj58/570Ymdg+qq+KPJO/Hc+pQBg0AAAAHJtOxF7EnrTG9HydbXkRrYq+GfJ2CrDx69DIAAAAAAAAAAAAAAAAAAAAA
      AAATWwfUVfF9IQqb2F+Wq+P6Qjfis+pIBisAAAAYXvU1fDPkzYXvU1fDPkCqRyevI5PXpZAAAAAAAAAAAAAAAAAAAAAAAACf2Tj1Y9iYuxpM
      1a8/dCvrZanetxPWIln8l+lZZAMlgAAADC7GtqYj2ZZgKpctzar3bkaTHYxdW1Z1z6vlH6Q5XonjMAdcAAAAAAAAAAAAAAAAAAAAAAFk2fc9
      JhUzHs6eHBW0lsO9u35omeExrEe+Pt5I3OxWamwGKwAAAAHHtW/NjE/Bzmd3Xzdk6IPLr9Jk1THbVLU8evQyAAAAAAAAAAAAAAAAAAAAAAAA
      G/Buehy6ap66ePD6tDxyi3CP2Vment7tf8AVTHjHVIMLONQBwAAEJty7vXooj+2NZ75/n6pfIvRYszVV2QrF25N25NVfOZ1XiffU6rEBsgAA
      AAAAAAAAAAAAAAAAAAAAAAABJbCp1yKp6U6eM/ZNozYtiq1FU3YmNdNNY6a/uk2G/Wk8AEugAOPa3/n1fL/AGhXlj2nbm7hVRbjWeHD5wrkx
      pOktfj8RoAaJAAAAAAAAAAAAAAAAAAAAAAAAHTs236TNpieydfD76NNq1Veq0tRM90JrZWFONEzd01nh3R/PJOryOyJABg0AAAAFf2vb3M2Z
      05xE/SVgcW1MScq1Ho9N6J7enbHkrN5XLFfGy9YqsT/ANtMx5eLW3ZgAAAAAAAAAAAAAAAAAAPAejrxdnV5HHTdjrP0hLY2zaLHGY3p6z9IT
      dyOyIbGwq8j+iOHtTwhJ4+yKaON6d6enKEkMru1cjGiiKKdKIiI6RGjIEugAAAAAAAPKo3o0qcORsqi7xt/hn3cvB3jstgruRs25Z46b0dY/
      ZyLa58jDoyPWRx9qOE+K58n6m5VoSOTsmq3xs/ijpylHVUzTVpVGk9JaSyp4AOuAAAAAAAAAAAERvTpHbwBsx7FWRc3bUfPsjvTmHs2jH41f
      iq6zyjuhuw8aMWzFNPPnM9Zb2OtdaSACHQAAAAAAAAAAAAAAABpyMajJp0ux8+2Pm3AK7n4E4k6xxp69O9yLXcoi5RMVxrExporOVY/4+RNM
      9k8J93Y2xrqLGoBaQAAAAAAABtxfzVHx0+YOV1aAHnaAAAAAAAAAAAAAAAAAAAACC25+bj4I85BWPU68R4DdAAAAD//2Q=="
       alt="foto">
    </div>
    <div class="big-img_title">
       <h1>angular 14.0.1</h1>
    </div>
    <div class="big-img_descricao">
        <p>A redação é o ato de produzir um determinado texto escrito.
             Ela pode ser dividida em quatro tipos: dissertativa, descritiva, narrativa e informativa. 
             O ato de escrever é uma atividade cotidiana, desde um simples bilhete a uma prova de concurso. 
             A redação é o ato de escrever, isto é, produzir um texto escrito
        </p>
    </div>
</div>