/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1b1e23;
    color: white;
    font-family: 'segoe UI';
}
a{
   text-decoration: none;

}
hr{
    margin-bottom: 5pxpx;
    border: 1px solid #333;
}
